:root {
    --CardFontSizeP: calc(5px + 1vw);
    --CardFontSizeA: calc(3px + 1.25vw);
    --CardFontSizeB: calc(5px + 1.5vw);
    --CardFontSizeH4: calc(5px + 2vw);
    --CardWidth: calc(100vw * 30/132);
    --CardFontSizeH1: calc(14px + 2vw);
}

* {
    min-width: auto !important;
}

::-webkit-scrollbar {
    width: 0px;
}

a {
    font-size: var(--CardFontSizeA) !important;
}

p {
    margin: 6px 0 6px 0;
    font-size: var(--CardFontSizeP) !important;
    overflow-y: scroll !important;
}

h1 {
    font-size: var(--CardFontSizeH1) !important;
}

button {
    font-size: var(--CardFontSizeB) !important;
}

h4 {
    font-size: var(--CardFontSizeH4) !important;
}

body {
    /* background-image: url("../tp.jpeg") !important; */
    background-size:100%;
    margin: 0;
}

.card {
    width: var(--CardWidth);
    align-items: center;
    border-width: 2px !important;
    margin-bottom: 5vw;
}

.card div {
    overflow: hidden;
    padding: 5px;
}

.card img {
    height: auto;
    width: var(--CardWidth);
    min-width: auto !important;
}

.card a {
    margin: 1vw;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-body p {
    height: calc(var(--CardWidth) * 8/11);
}

@keyframes ejemplo {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes abrir {
    0% { max-height: 50px; }
    100% { max-height:125px; }
}

.prue {
    background-color: rebeccapurple;
    width: 360px;
    max-height: 50px;
    overflow: hidden;
}

.prue p {
    visibility: collapse;
}

.prue:hover {
    animation-name: abrir;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.prue:hover p {
    visibility: visible;
    animation-name: ejemplo;
    animation-duration: 2s;
}

nav {
    height: calc(85vw / 16 * 9);
}

#banner {
    display: flex !important;
    justify-content:right;
    align-items: center;
    text-align:end ;
    color: bisque ;
    height: calc(85vw / 16 * 9 - (55px + 2vw));
}

#banner div {
    border-radius: 2vw;
    padding: 1vw;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(1px) ;
    margin-right: calc(10px + 2vw);
    width: calc(45% + 300px - 15vw );
}

#banner a {
    color: bisque !important; 
}

section {
    text-align: center;
}

#oradores {
    width: 76vw;
    justify-content: space-evenly;
    display: inline-flex;
}

#descript {
    color: antiquewhite !important;
    display: inline-flex;
}

#descript span {
    width: 50vw;
}

#descript span img {
    width: 50vw;
}

#descript :nth-child(2) {
    height: calc(50vw * 9/16);
    padding: 1vw;
}

#descript :nth-child(2) p {
    height: 60%;
}

#descript {
    background-color:  #343a40;
}

form {
    margin: calc(5px + 2vw);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

form textarea {
    width: 55vw;
    height: calc(55vw * 3 / 11);
}

form * + div { 
    display: flex;
    justify-content: space-between;
    width: 55vw;
}

form *  input {
    margin: calc(5px + 2vw) 0 calc(5px + 2vw) 0;
    width: 45%;
    color: red ;
}

footer {
    display: inline-flex;
    width: 100vw;
    justify-content: space-around;
    height: 45px;
    background-color:  #343a40;
}

footer a { 
    text-decoration: none;
    color: rgba(255,255,255,.55);
}

header {
    display: flex;
    justify-content:space-around ;
    background-color: rgb(72, 76, 77);
    height: calc(55px + 2vw);
}

header picture {
    display: flex;
    justify-content: center;
    align-items: center;
    color: bisque;
}

header picture img {
    height: calc(50px * 12 / 13 + 1vw );
}

header menu {
    display: flex;
    align-items: center;
}

header :first-child {
    color: #fff;
}

header a {
    text-decoration: none;
    color: rgba(255,255,255,.55);
    padding-left: 1vw;
}


form input[type="button"] {
    background-color: green; /* Fondo verde */
    color: white; /* Texto blanco */
    width: calc(55vw - 10px); /* Ancho del rectángulo de texto - 10px de espacio */
    margin: calc(5px + 2vw) 0 calc(5px + 2vw) 0;
    border: none;
    padding: 10px;
}

form p {
    text-align: left !important;
}

.card-subtitle {
    font-size: var(--CardFontSizeA) !important;
    width: 58%;
    text-align: var(--CardWidth);
    margin: 5px 0;
    white-space: nowrap; /* Evitar salto de línea */
}

